<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChinaBank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net>
	<logger name="azure.Logging">
      <level value="ERROR"/>
      <appender-ref ref="TestAzureTrainingLogAppender" />
    </logger>
    <logger name="receive.Logging">
      <level value="ERROR"/>
      <appender-ref ref="receiveAppender" />
    </logger>
    <logger name="send.Logging">
      <level value="INFO"/>
      <appender-ref ref="sendAppender" />
    </logger>
    <logger name="appLog.Logging">
      <level value="INFO"/>
      <appender-ref ref="appLogAppender" />
    </logger>
	 <appender name="AzureStorageTableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
      <param name="TableName" value="testLoggingTable" />
	   <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %-5level - %class - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="receiveAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="receive-yyyyMMdd.'txt'" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="recoder time:%d content:%m%n--------------------------------------------------%n" />
      </layout>
    </appender>
    <appender name="sendAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="compile" />
      <param name="DatePattern" value="send-yyyyMMdd.'txt'" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="recoder time:%d content:%m%n--------------------------------------------------%n" />
      </layout>
    </appender>
    <appender name="appLogAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logs/appLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="recoder time:%d content:%m%n--------------------------------------------------%n" />
      </layout>
    </appender>
  </log4net>
</configuration>